@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Learning4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Learning4.styles.css" asp-append-version="true" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    
</head>
@{
        var userName = Context.Session.GetString("UserName");
        var Role = Context.Session.GetString("Role");
}
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Learning4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between px-5 mx-5">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Coupons
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="Coupon" asp-action="Index">Add Coupon</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Coupon" asp-action="CouponList">Coupon List</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Products" asp-action="Index">All Products</a>
                                </li>
                            </ul>
                        </li>
                        @if (@User.IsInRole("Junior Lecturer"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Leaves
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="mLeaves" asp-action="Index">Leaves</a>
                                    </li>
                                    
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="mLeaves" asp-action="Index">Leaves History</a>
                                    </li>
                                   
                                </ul>
                            </li>
                            
                        }
                        @if (@User.IsInRole("Principal")){
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Leaves
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="mLeaves" asp-action="Index">Apply Leaves</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="mLeaves" asp-action="PrincipalViewLeaves">Leave Requests</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="mLeaves" asp-action="Index">Leaves History</a>
                                    </li>

                                </ul>
                            </li>
                        }
   
                        @if (@User.IsInRole("Admin"))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownq" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownq">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="AddRole">Add Role</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="AssingRole">Assing Role</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Coupon" asp-action="AddDistrict">Add Districts</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Coupon" asp-action="AddColleges">Add Colleges</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Products" asp-action="Index">All Products</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Employees
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Employee" asp-action="Index">Add Employee</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="AssingRole">Assing Role</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="mLeaves" asp-action="AddLeaveType">Add LeaveType</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="mLeaves" asp-action="AddStatusType">Add StatusType</a>
                                    </li>
                                </ul>
                            </li>
                        }
                   
                    </ul>
                    <ul class="navbar-nav flex">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                            </a>
                           
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if(User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Account" asp-action="Profile">
                                            Hello, @User.Identity.Name
                                        </a>
                                        @foreach (var roleClaim in User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role))
                                        {
                                            <p class="px-2">@roleClaim.Value</p>
                                        }
                                    </li>
                                    <li class="nav-item">
                                        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                    <li>
                                        <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Index">Register</a>
                                    </li>
                                }
                            </ul>

                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Learning4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script>
        // Default configuration (you can customize as needed)
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "timeOut": "4000"
        };
    </script>
    <script>
        @if (TempData["SuccessMessage"] != null)
        {
                <text>toastr.success("@TempData["SuccessMessage"]");</text>
        }
        @if (TempData["ErrorMessage"] != null)
        {
                <text>toastr.error("@TempData["ErrorMessage"]");</text>
        }
        @if (TempData["InfoMessage"] != null)
        {
                <text>toastr.info("@TempData["InfoMessage"]");</text>
        }
        @if (TempData["WarningMessage"] != null)
        {
                <text>toastr.warning("@TempData["WarningMessage"]");</text>
        }
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
